/*
Cisco SD-WAN vManage API

The vManage API exposes the functionality of operations maintaining devices and the overlay network

API version: 2.0.0
Contact: vmanage@cisco.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// RealTimeMonitoringUcseApiService RealTimeMonitoringUcseApi service
type RealTimeMonitoringUcseApiService service

type ApiCreateUcseStatsRequest struct {
	ctx context.Context
	ApiService *RealTimeMonitoringUcseApiService
	deviceId *string
	remoteTlocAddress *string
	remoteTlocColor *string
	localTlocColor *string
}

// Device IP
func (r ApiCreateUcseStatsRequest) DeviceId(deviceId string) ApiCreateUcseStatsRequest {
	r.deviceId = &deviceId
	return r
}

// Remote TLOC address
func (r ApiCreateUcseStatsRequest) RemoteTlocAddress(remoteTlocAddress string) ApiCreateUcseStatsRequest {
	r.remoteTlocAddress = &remoteTlocAddress
	return r
}

// Remote tloc color
func (r ApiCreateUcseStatsRequest) RemoteTlocColor(remoteTlocColor string) ApiCreateUcseStatsRequest {
	r.remoteTlocColor = &remoteTlocColor
	return r
}

// Local tloc color
func (r ApiCreateUcseStatsRequest) LocalTlocColor(localTlocColor string) ApiCreateUcseStatsRequest {
	r.localTlocColor = &localTlocColor
	return r
}

func (r ApiCreateUcseStatsRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CreateUcseStatsExecute(r)
}

/*
CreateUcseStats Method for CreateUcseStats

Get  UCSE stats entry from device

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateUcseStatsRequest
*/
func (a *RealTimeMonitoringUcseApiService) CreateUcseStats(ctx context.Context) ApiCreateUcseStatsRequest {
	return ApiCreateUcseStatsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *RealTimeMonitoringUcseApiService) CreateUcseStatsExecute(r ApiCreateUcseStatsRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RealTimeMonitoringUcseApiService.CreateUcseStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/device/ucse/stats"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceId == nil {
		return localVarReturnValue, nil, reportError("deviceId is required and must be specified")
	}

	if r.remoteTlocAddress != nil {
		localVarQueryParams.Add("remote-tloc-address", parameterToString(*r.remoteTlocAddress, ""))
	}
	if r.remoteTlocColor != nil {
		localVarQueryParams.Add("remote-tloc-color", parameterToString(*r.remoteTlocColor, ""))
	}
	if r.localTlocColor != nil {
		localVarQueryParams.Add("local-tloc-color", parameterToString(*r.localTlocColor, ""))
	}
	localVarQueryParams.Add("deviceId", parameterToString(*r.deviceId, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
