/*
Cisco SD-WAN vManage API

The vManage API exposes the functionality of operations maintaining devices and the overlay network

API version: 2.0.0
Contact: vmanage@cisco.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// ConfigurationMultiCloudApiService ConfigurationMultiCloudApi service
type ConfigurationMultiCloudApiService service

type ConfigurationMultiCloudApiAddEdgeGlobalSettingsRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// Global setting
func (r ConfigurationMultiCloudApiAddEdgeGlobalSettingsRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiAddEdgeGlobalSettingsRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiAddEdgeGlobalSettingsRequest) Execute() (*http.Response, error) {
	return r.ApiService.AddEdgeGlobalSettingsExecute(r)
}

/*
AddEdgeGlobalSettings Method for AddEdgeGlobalSettings

Add global settings for Edge provider

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiAddEdgeGlobalSettingsRequest
*/
func (a *ConfigurationMultiCloudApiService) AddEdgeGlobalSettings(ctx context.Context) ConfigurationMultiCloudApiAddEdgeGlobalSettingsRequest {
	return ConfigurationMultiCloudApiAddEdgeGlobalSettingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ConfigurationMultiCloudApiService) AddEdgeGlobalSettingsExecute(r ConfigurationMultiCloudApiAddEdgeGlobalSettingsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.AddEdgeGlobalSettings")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/settings/edge/global"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiAddGlobalSettingsRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// Global setting
func (r ConfigurationMultiCloudApiAddGlobalSettingsRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiAddGlobalSettingsRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiAddGlobalSettingsRequest) Execute() (*http.Response, error) {
	return r.ApiService.AddGlobalSettingsExecute(r)
}

/*
AddGlobalSettings Method for AddGlobalSettings

Acquire ip from resource pool

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiAddGlobalSettingsRequest
*/
func (a *ConfigurationMultiCloudApiService) AddGlobalSettings(ctx context.Context) ConfigurationMultiCloudApiAddGlobalSettingsRequest {
	return ConfigurationMultiCloudApiAddGlobalSettingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ConfigurationMultiCloudApiService) AddGlobalSettingsExecute(r ConfigurationMultiCloudApiAddGlobalSettingsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.AddGlobalSettings")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/settings/global"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiAttachSitesRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	cloudGatewayName string
	body *map[string]interface{}
}

// Site information
func (r ConfigurationMultiCloudApiAttachSitesRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiAttachSitesRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiAttachSitesRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AttachSitesExecute(r)
}

/*
AttachSites Method for AttachSites

Attach sites to cloud gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cloudGatewayName Cloud gateway name
 @return ConfigurationMultiCloudApiAttachSitesRequest
*/
func (a *ConfigurationMultiCloudApiService) AttachSites(ctx context.Context, cloudGatewayName string) ConfigurationMultiCloudApiAttachSitesRequest {
	return ConfigurationMultiCloudApiAttachSitesRequest{
		ApiService: a,
		ctx: ctx,
		cloudGatewayName: cloudGatewayName,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) AttachSitesExecute(r ConfigurationMultiCloudApiAttachSitesRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.AttachSites")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/cloudgateway/{cloudGatewayName}/site"
	localVarPath = strings.Replace(localVarPath, "{"+"cloudGatewayName"+"}", url.PathEscape(parameterToString(r.cloudGatewayName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiAuditRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// Audit
func (r ConfigurationMultiCloudApiAuditRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiAuditRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiAuditRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.AuditExecute(r)
}

/*
Audit Method for Audit

Call an audit

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiAuditRequest
*/
func (a *ConfigurationMultiCloudApiService) Audit(ctx context.Context) ConfigurationMultiCloudApiAuditRequest {
	return ConfigurationMultiCloudApiAuditRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) AuditExecute(r ConfigurationMultiCloudApiAuditRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.Audit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiAuditDryRunRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	cloudType *string
	cloudRegion *string
}

// Cloud type
func (r ConfigurationMultiCloudApiAuditDryRunRequest) CloudType(cloudType string) ConfigurationMultiCloudApiAuditDryRunRequest {
	r.cloudType = &cloudType
	return r
}

// Region
func (r ConfigurationMultiCloudApiAuditDryRunRequest) CloudRegion(cloudRegion string) ConfigurationMultiCloudApiAuditDryRunRequest {
	r.cloudRegion = &cloudRegion
	return r
}

func (r ConfigurationMultiCloudApiAuditDryRunRequest) Execute() (*http.Response, error) {
	return r.ApiService.AuditDryRunExecute(r)
}

/*
AuditDryRun Method for AuditDryRun

Call an audit with dry run

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiAuditDryRunRequest
*/
func (a *ConfigurationMultiCloudApiService) AuditDryRun(ctx context.Context) ConfigurationMultiCloudApiAuditDryRunRequest {
	return ConfigurationMultiCloudApiAuditDryRunRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ConfigurationMultiCloudApiService) AuditDryRunExecute(r ConfigurationMultiCloudApiAuditDryRunRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.AuditDryRun")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cloudType != nil {
		localVarQueryParams.Add("cloudType", parameterToString(*r.cloudType, ""))
	}
	if r.cloudRegion != nil {
		localVarQueryParams.Add("cloudRegion", parameterToString(*r.cloudRegion, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiCleanUpAllConnectivityGatewaysInLocalDBRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	deletionType *string
}

// Deletion Type
func (r ConfigurationMultiCloudApiCleanUpAllConnectivityGatewaysInLocalDBRequest) DeletionType(deletionType string) ConfigurationMultiCloudApiCleanUpAllConnectivityGatewaysInLocalDBRequest {
	r.deletionType = &deletionType
	return r
}

func (r ConfigurationMultiCloudApiCleanUpAllConnectivityGatewaysInLocalDBRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CleanUpAllConnectivityGatewaysInLocalDBExecute(r)
}

/*
CleanUpAllConnectivityGatewaysInLocalDB Method for CleanUpAllConnectivityGatewaysInLocalDB

Delete all Connectivity Gateways in local DB

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiCleanUpAllConnectivityGatewaysInLocalDBRequest
*/
func (a *ConfigurationMultiCloudApiService) CleanUpAllConnectivityGatewaysInLocalDB(ctx context.Context) ConfigurationMultiCloudApiCleanUpAllConnectivityGatewaysInLocalDBRequest {
	return ConfigurationMultiCloudApiCleanUpAllConnectivityGatewaysInLocalDBRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) CleanUpAllConnectivityGatewaysInLocalDBExecute(r ConfigurationMultiCloudApiCleanUpAllConnectivityGatewaysInLocalDBRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.CleanUpAllConnectivityGatewaysInLocalDB")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/connectivitygateway"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deletionType != nil {
		localVarQueryParams.Add("deletionType", parameterToString(*r.deletionType, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiCreateCgwRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// Cloud gateway
func (r ConfigurationMultiCloudApiCreateCgwRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiCreateCgwRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiCreateCgwRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CreateCgwExecute(r)
}

/*
CreateCgw Method for CreateCgw

Create cloud gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiCreateCgwRequest
*/
func (a *ConfigurationMultiCloudApiService) CreateCgw(ctx context.Context) ConfigurationMultiCloudApiCreateCgwRequest {
	return ConfigurationMultiCloudApiCreateCgwRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) CreateCgwExecute(r ConfigurationMultiCloudApiCreateCgwRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.CreateCgw")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/cloudgateway"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiCreateConnectivityGatewayRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// Connectivity gateway
func (r ConfigurationMultiCloudApiCreateConnectivityGatewayRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiCreateConnectivityGatewayRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiCreateConnectivityGatewayRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CreateConnectivityGatewayExecute(r)
}

/*
CreateConnectivityGateway Method for CreateConnectivityGateway

Create Connectivity gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiCreateConnectivityGatewayRequest
*/
func (a *ConfigurationMultiCloudApiService) CreateConnectivityGateway(ctx context.Context) ConfigurationMultiCloudApiCreateConnectivityGatewayRequest {
	return ConfigurationMultiCloudApiCreateConnectivityGatewayRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) CreateConnectivityGatewayExecute(r ConfigurationMultiCloudApiCreateConnectivityGatewayRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.CreateConnectivityGateway")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/connectivitygateway"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiCreateDeviceLinkRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// Device Link
func (r ConfigurationMultiCloudApiCreateDeviceLinkRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiCreateDeviceLinkRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiCreateDeviceLinkRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CreateDeviceLinkExecute(r)
}

/*
CreateDeviceLink Method for CreateDeviceLink

Create Device Link

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiCreateDeviceLinkRequest
*/
func (a *ConfigurationMultiCloudApiService) CreateDeviceLink(ctx context.Context) ConfigurationMultiCloudApiCreateDeviceLinkRequest {
	return ConfigurationMultiCloudApiCreateDeviceLinkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) CreateDeviceLinkExecute(r ConfigurationMultiCloudApiCreateDeviceLinkRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.CreateDeviceLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/devicelink/edge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiCreateEdgeConnectivityRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// Edge connectivity
func (r ConfigurationMultiCloudApiCreateEdgeConnectivityRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiCreateEdgeConnectivityRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiCreateEdgeConnectivityRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CreateEdgeConnectivityExecute(r)
}

/*
CreateEdgeConnectivity Method for CreateEdgeConnectivity

Create Interconnect connectivity

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiCreateEdgeConnectivityRequest
*/
func (a *ConfigurationMultiCloudApiService) CreateEdgeConnectivity(ctx context.Context) ConfigurationMultiCloudApiCreateEdgeConnectivityRequest {
	return ConfigurationMultiCloudApiCreateEdgeConnectivityRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) CreateEdgeConnectivityExecute(r ConfigurationMultiCloudApiCreateEdgeConnectivityRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.CreateEdgeConnectivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/connectivity/edge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiCreateIcgwRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// Interconnect Gateway
func (r ConfigurationMultiCloudApiCreateIcgwRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiCreateIcgwRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiCreateIcgwRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CreateIcgwExecute(r)
}

/*
CreateIcgw Method for CreateIcgw

Create Interconnect Gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiCreateIcgwRequest
*/
func (a *ConfigurationMultiCloudApiService) CreateIcgw(ctx context.Context) ConfigurationMultiCloudApiCreateIcgwRequest {
	return ConfigurationMultiCloudApiCreateIcgwRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) CreateIcgwExecute(r ConfigurationMultiCloudApiCreateIcgwRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.CreateIcgw")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/gateway/edge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiCreateVirtualWanRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// Virtual WAN
func (r ConfigurationMultiCloudApiCreateVirtualWanRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiCreateVirtualWanRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiCreateVirtualWanRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CreateVirtualWanExecute(r)
}

/*
CreateVirtualWan Method for CreateVirtualWan

Create Virtual WAN

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiCreateVirtualWanRequest
*/
func (a *ConfigurationMultiCloudApiService) CreateVirtualWan(ctx context.Context) ConfigurationMultiCloudApiCreateVirtualWanRequest {
	return ConfigurationMultiCloudApiCreateVirtualWanRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) CreateVirtualWanExecute(r ConfigurationMultiCloudApiCreateVirtualWanRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.CreateVirtualWan")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/vwan"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDeleteAccountRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	accountId string
}

func (r ConfigurationMultiCloudApiDeleteAccountRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAccountExecute(r)
}

/*
DeleteAccount Method for DeleteAccount

Delete cloud account

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Account Id
 @return ConfigurationMultiCloudApiDeleteAccountRequest
*/
func (a *ConfigurationMultiCloudApiService) DeleteAccount(ctx context.Context, accountId string) ConfigurationMultiCloudApiDeleteAccountRequest {
	return ConfigurationMultiCloudApiDeleteAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *ConfigurationMultiCloudApiService) DeleteAccountExecute(r ConfigurationMultiCloudApiDeleteAccountRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DeleteAccount")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/accounts/{accountId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterToString(r.accountId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDeleteCgwRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	cloudGatewayName string
	deleteAllResources *bool
}

// Optional Flag for deletion of Azure Resource Group, Default: True
func (r ConfigurationMultiCloudApiDeleteCgwRequest) DeleteAllResources(deleteAllResources bool) ConfigurationMultiCloudApiDeleteCgwRequest {
	r.deleteAllResources = &deleteAllResources
	return r
}

func (r ConfigurationMultiCloudApiDeleteCgwRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteCgwExecute(r)
}

/*
DeleteCgw Method for DeleteCgw

Delete cloud gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cloudGatewayName Cloud gateway name
 @return ConfigurationMultiCloudApiDeleteCgwRequest
*/
func (a *ConfigurationMultiCloudApiService) DeleteCgw(ctx context.Context, cloudGatewayName string) ConfigurationMultiCloudApiDeleteCgwRequest {
	return ConfigurationMultiCloudApiDeleteCgwRequest{
		ApiService: a,
		ctx: ctx,
		cloudGatewayName: cloudGatewayName,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) DeleteCgwExecute(r ConfigurationMultiCloudApiDeleteCgwRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DeleteCgw")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/cloudgateway/{cloudGatewayName}"
	localVarPath = strings.Replace(localVarPath, "{"+"cloudGatewayName"+"}", url.PathEscape(parameterToString(r.cloudGatewayName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deleteAllResources != nil {
		localVarQueryParams.Add("deleteAllResources", parameterToString(*r.deleteAllResources, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDeleteConnectivityGatewayRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	cloudProvider string
	connectivityGatewayName string
	connectivityType *string
}

// Cloud Connectivity Type
func (r ConfigurationMultiCloudApiDeleteConnectivityGatewayRequest) ConnectivityType(connectivityType string) ConfigurationMultiCloudApiDeleteConnectivityGatewayRequest {
	r.connectivityType = &connectivityType
	return r
}

func (r ConfigurationMultiCloudApiDeleteConnectivityGatewayRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteConnectivityGatewayExecute(r)
}

/*
DeleteConnectivityGateway Method for DeleteConnectivityGateway

Delete Connectivity Gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cloudProvider Cloud Provider
 @param connectivityGatewayName Connectivity gateway name
 @return ConfigurationMultiCloudApiDeleteConnectivityGatewayRequest
*/
func (a *ConfigurationMultiCloudApiService) DeleteConnectivityGateway(ctx context.Context, cloudProvider string, connectivityGatewayName string) ConfigurationMultiCloudApiDeleteConnectivityGatewayRequest {
	return ConfigurationMultiCloudApiDeleteConnectivityGatewayRequest{
		ApiService: a,
		ctx: ctx,
		cloudProvider: cloudProvider,
		connectivityGatewayName: connectivityGatewayName,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) DeleteConnectivityGatewayExecute(r ConfigurationMultiCloudApiDeleteConnectivityGatewayRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DeleteConnectivityGateway")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/connectivitygateway/{cloudProvider}/{connectivityGatewayName}"
	localVarPath = strings.Replace(localVarPath, "{"+"cloudProvider"+"}", url.PathEscape(parameterToString(r.cloudProvider, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connectivityGatewayName"+"}", url.PathEscape(parameterToString(r.connectivityGatewayName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.connectivityType != nil {
		localVarQueryParams.Add("connectivityType", parameterToString(*r.connectivityType, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDeleteDeviceLinkRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	deviceLinkName string
}

func (r ConfigurationMultiCloudApiDeleteDeviceLinkRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteDeviceLinkExecute(r)
}

/*
DeleteDeviceLink Method for DeleteDeviceLink

Delete Device Link

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceLinkName Device Link Name
 @return ConfigurationMultiCloudApiDeleteDeviceLinkRequest
*/
func (a *ConfigurationMultiCloudApiService) DeleteDeviceLink(ctx context.Context, deviceLinkName string) ConfigurationMultiCloudApiDeleteDeviceLinkRequest {
	return ConfigurationMultiCloudApiDeleteDeviceLinkRequest{
		ApiService: a,
		ctx: ctx,
		deviceLinkName: deviceLinkName,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) DeleteDeviceLinkExecute(r ConfigurationMultiCloudApiDeleteDeviceLinkRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DeleteDeviceLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/devicelink/edge/{deviceLinkName}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceLinkName"+"}", url.PathEscape(parameterToString(r.deviceLinkName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDeleteEdgeAccountRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	accountId string
}

func (r ConfigurationMultiCloudApiDeleteEdgeAccountRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteEdgeAccountExecute(r)
}

/*
DeleteEdgeAccount Method for DeleteEdgeAccount

Delete edge account

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Edge Account Id
 @return ConfigurationMultiCloudApiDeleteEdgeAccountRequest
*/
func (a *ConfigurationMultiCloudApiService) DeleteEdgeAccount(ctx context.Context, accountId string) ConfigurationMultiCloudApiDeleteEdgeAccountRequest {
	return ConfigurationMultiCloudApiDeleteEdgeAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *ConfigurationMultiCloudApiService) DeleteEdgeAccountExecute(r ConfigurationMultiCloudApiDeleteEdgeAccountRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DeleteEdgeAccount")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/accounts/edge/{accountId}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterToString(r.accountId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDeleteEdgeAccount1Request struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	edgeType string
}

func (r ConfigurationMultiCloudApiDeleteEdgeAccount1Request) Execute() (*http.Response, error) {
	return r.ApiService.DeleteEdgeAccount1Execute(r)
}

/*
DeleteEdgeAccount1 Method for DeleteEdgeAccount1

Delete edge account

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param edgeType Edge Type
 @return ConfigurationMultiCloudApiDeleteEdgeAccount1Request
*/
func (a *ConfigurationMultiCloudApiService) DeleteEdgeAccount1(ctx context.Context, edgeType string) ConfigurationMultiCloudApiDeleteEdgeAccount1Request {
	return ConfigurationMultiCloudApiDeleteEdgeAccount1Request{
		ApiService: a,
		ctx: ctx,
		edgeType: edgeType,
	}
}

// Execute executes the request
func (a *ConfigurationMultiCloudApiService) DeleteEdgeAccount1Execute(r ConfigurationMultiCloudApiDeleteEdgeAccount1Request) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DeleteEdgeAccount1")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/locations/edge/{edgeType}"
	localVarPath = strings.Replace(localVarPath, "{"+"edgeType"+"}", url.PathEscape(parameterToString(r.edgeType, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDeleteEdgeConnectivityRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	connectionName string
}

func (r ConfigurationMultiCloudApiDeleteEdgeConnectivityRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteEdgeConnectivityExecute(r)
}

/*
DeleteEdgeConnectivity Method for DeleteEdgeConnectivity

Delete Interconnect connectivity

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connectionName Edge connectivity name
 @return ConfigurationMultiCloudApiDeleteEdgeConnectivityRequest
*/
func (a *ConfigurationMultiCloudApiService) DeleteEdgeConnectivity(ctx context.Context, connectionName string) ConfigurationMultiCloudApiDeleteEdgeConnectivityRequest {
	return ConfigurationMultiCloudApiDeleteEdgeConnectivityRequest{
		ApiService: a,
		ctx: ctx,
		connectionName: connectionName,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) DeleteEdgeConnectivityExecute(r ConfigurationMultiCloudApiDeleteEdgeConnectivityRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DeleteEdgeConnectivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/connectivity/edge/{connectionName}"
	localVarPath = strings.Replace(localVarPath, "{"+"connectionName"+"}", url.PathEscape(parameterToString(r.connectionName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDeleteIcgwRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	edgeGatewayName string
}

func (r ConfigurationMultiCloudApiDeleteIcgwRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteIcgwExecute(r)
}

/*
DeleteIcgw Method for DeleteIcgw

Delete Interconnect Gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param edgeGatewayName Edge gateway name
 @return ConfigurationMultiCloudApiDeleteIcgwRequest
*/
func (a *ConfigurationMultiCloudApiService) DeleteIcgw(ctx context.Context, edgeGatewayName string) ConfigurationMultiCloudApiDeleteIcgwRequest {
	return ConfigurationMultiCloudApiDeleteIcgwRequest{
		ApiService: a,
		ctx: ctx,
		edgeGatewayName: edgeGatewayName,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) DeleteIcgwExecute(r ConfigurationMultiCloudApiDeleteIcgwRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DeleteIcgw")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/gateway/edge/{edgeGatewayName}"
	localVarPath = strings.Replace(localVarPath, "{"+"edgeGatewayName"+"}", url.PathEscape(parameterToString(r.edgeGatewayName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDeleteVirtualWanRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	cloudProvider string
	vWanName string
	accountId *string
	resourceGroup *string
}

// Account Id
func (r ConfigurationMultiCloudApiDeleteVirtualWanRequest) AccountId(accountId string) ConfigurationMultiCloudApiDeleteVirtualWanRequest {
	r.accountId = &accountId
	return r
}

// Resource Group
func (r ConfigurationMultiCloudApiDeleteVirtualWanRequest) ResourceGroup(resourceGroup string) ConfigurationMultiCloudApiDeleteVirtualWanRequest {
	r.resourceGroup = &resourceGroup
	return r
}

func (r ConfigurationMultiCloudApiDeleteVirtualWanRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteVirtualWanExecute(r)
}

/*
DeleteVirtualWan Method for DeleteVirtualWan

Delete Virtual Wan

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cloudProvider Cloud Provider
 @param vWanName Virtual Wan name
 @return ConfigurationMultiCloudApiDeleteVirtualWanRequest
*/
func (a *ConfigurationMultiCloudApiService) DeleteVirtualWan(ctx context.Context, cloudProvider string, vWanName string) ConfigurationMultiCloudApiDeleteVirtualWanRequest {
	return ConfigurationMultiCloudApiDeleteVirtualWanRequest{
		ApiService: a,
		ctx: ctx,
		cloudProvider: cloudProvider,
		vWanName: vWanName,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) DeleteVirtualWanExecute(r ConfigurationMultiCloudApiDeleteVirtualWanRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DeleteVirtualWan")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/vwan/{cloudProvider}/{vWanName}"
	localVarPath = strings.Replace(localVarPath, "{"+"cloudProvider"+"}", url.PathEscape(parameterToString(r.cloudProvider, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vWanName"+"}", url.PathEscape(parameterToString(r.vWanName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		localVarQueryParams.Add("accountId", parameterToString(*r.accountId, ""))
	}
	if r.resourceGroup != nil {
		localVarQueryParams.Add("resourceGroup", parameterToString(*r.resourceGroup, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiDetachSites1Request struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	cloudGatewayName string
	body *map[string]interface{}
}

// Site information
func (r ConfigurationMultiCloudApiDetachSites1Request) Body(body map[string]interface{}) ConfigurationMultiCloudApiDetachSites1Request {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiDetachSites1Request) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DetachSites1Execute(r)
}

/*
DetachSites1 Method for DetachSites1

Detach sites from cloud gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cloudGatewayName Cloud gateway name
 @return ConfigurationMultiCloudApiDetachSites1Request
*/
func (a *ConfigurationMultiCloudApiService) DetachSites1(ctx context.Context, cloudGatewayName string) ConfigurationMultiCloudApiDetachSites1Request {
	return ConfigurationMultiCloudApiDetachSites1Request{
		ApiService: a,
		ctx: ctx,
		cloudGatewayName: cloudGatewayName,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) DetachSites1Execute(r ConfigurationMultiCloudApiDetachSites1Request) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.DetachSites1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/cloudgateway/{cloudGatewayName}/site"
	localVarPath = strings.Replace(localVarPath, "{"+"cloudGatewayName"+"}", url.PathEscape(parameterToString(r.cloudGatewayName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiEdgeAuditRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	edgeType *string
	cloudType *string
}

// Edge type
func (r ConfigurationMultiCloudApiEdgeAuditRequest) EdgeType(edgeType string) ConfigurationMultiCloudApiEdgeAuditRequest {
	r.edgeType = &edgeType
	return r
}

// Cloud type
func (r ConfigurationMultiCloudApiEdgeAuditRequest) CloudType(cloudType string) ConfigurationMultiCloudApiEdgeAuditRequest {
	r.cloudType = &cloudType
	return r
}

func (r ConfigurationMultiCloudApiEdgeAuditRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdgeAuditExecute(r)
}

/*
EdgeAudit Method for EdgeAudit

Call an edge audit

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiEdgeAuditRequest
*/
func (a *ConfigurationMultiCloudApiService) EdgeAudit(ctx context.Context) ConfigurationMultiCloudApiEdgeAuditRequest {
	return ConfigurationMultiCloudApiEdgeAuditRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ConfigurationMultiCloudApiService) EdgeAuditExecute(r ConfigurationMultiCloudApiEdgeAuditRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.EdgeAudit")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/audit/edge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.edgeType != nil {
		localVarQueryParams.Add("edgeType", parameterToString(*r.edgeType, ""))
	}
	if r.cloudType != nil {
		localVarQueryParams.Add("cloudType", parameterToString(*r.cloudType, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiEdgeAuditDryRunRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	edgeType *string
	cloudType *string
}

// Edge type
func (r ConfigurationMultiCloudApiEdgeAuditDryRunRequest) EdgeType(edgeType string) ConfigurationMultiCloudApiEdgeAuditDryRunRequest {
	r.edgeType = &edgeType
	return r
}

// Cloud type
func (r ConfigurationMultiCloudApiEdgeAuditDryRunRequest) CloudType(cloudType string) ConfigurationMultiCloudApiEdgeAuditDryRunRequest {
	r.cloudType = &cloudType
	return r
}

func (r ConfigurationMultiCloudApiEdgeAuditDryRunRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdgeAuditDryRunExecute(r)
}

/*
EdgeAuditDryRun Method for EdgeAuditDryRun

Call an edge audit with dry run

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiEdgeAuditDryRunRequest
*/
func (a *ConfigurationMultiCloudApiService) EdgeAuditDryRun(ctx context.Context) ConfigurationMultiCloudApiEdgeAuditDryRunRequest {
	return ConfigurationMultiCloudApiEdgeAuditDryRunRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ConfigurationMultiCloudApiService) EdgeAuditDryRunExecute(r ConfigurationMultiCloudApiEdgeAuditDryRunRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.EdgeAuditDryRun")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/audit/edge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.edgeType != nil {
		localVarQueryParams.Add("edgeType", parameterToString(*r.edgeType, ""))
	}
	if r.cloudType != nil {
		localVarQueryParams.Add("cloudType", parameterToString(*r.cloudType, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiEditTagRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	body *map[string]interface{}
}

// VPC tag
func (r ConfigurationMultiCloudApiEditTagRequest) Body(body map[string]interface{}) ConfigurationMultiCloudApiEditTagRequest {
	r.body = &body
	return r
}

func (r ConfigurationMultiCloudApiEditTagRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.EditTagExecute(r)
}

/*
EditTag Method for EditTag

Edit VPCs for a tag

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiEditTagRequest
*/
func (a *ConfigurationMultiCloudApiService) EditTag(ctx context.Context) ConfigurationMultiCloudApiEditTagRequest {
	return ConfigurationMultiCloudApiEditTagRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) EditTagExecute(r ConfigurationMultiCloudApiEditTagRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.EditTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/hostvpc/tags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiGetAllCloudAccountsRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	cloudType *string
	cloudGatewayEnabled *bool
}

// Cloud type
func (r ConfigurationMultiCloudApiGetAllCloudAccountsRequest) CloudType(cloudType string) ConfigurationMultiCloudApiGetAllCloudAccountsRequest {
	r.cloudType = &cloudType
	return r
}

// Cloud gateway enabled flag
func (r ConfigurationMultiCloudApiGetAllCloudAccountsRequest) CloudGatewayEnabled(cloudGatewayEnabled bool) ConfigurationMultiCloudApiGetAllCloudAccountsRequest {
	r.cloudGatewayEnabled = &cloudGatewayEnabled
	return r
}

func (r ConfigurationMultiCloudApiGetAllCloudAccountsRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetAllCloudAccountsExecute(r)
}

/*
GetAllCloudAccounts Method for GetAllCloudAccounts

Get All cloud accounts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiGetAllCloudAccountsRequest
*/
func (a *ConfigurationMultiCloudApiService) GetAllCloudAccounts(ctx context.Context) ConfigurationMultiCloudApiGetAllCloudAccountsRequest {
	return ConfigurationMultiCloudApiGetAllCloudAccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) GetAllCloudAccountsExecute(r ConfigurationMultiCloudApiGetAllCloudAccountsRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.GetAllCloudAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cloudType != nil {
		localVarQueryParams.Add("cloudType", parameterToString(*r.cloudType, ""))
	}
	if r.cloudGatewayEnabled != nil {
		localVarQueryParams.Add("cloudGatewayEnabled", parameterToString(*r.cloudGatewayEnabled, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest struct {
	ctx context.Context
	ApiService *ConfigurationMultiCloudApiService
	cloudType *string
	accoundId *string
	region *string
	resourceGroupName *string
	resourceGroupSource *string
	vhubName *string
	vhubSource *string
}

// Cloud type
func (r ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest) CloudType(cloudType string) ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest {
	r.cloudType = &cloudType
	return r
}

// Account ID
func (r ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest) AccoundId(accoundId string) ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest {
	r.accoundId = &accoundId
	return r
}

// Region
func (r ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest) Region(region string) ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest {
	r.region = &region
	return r
}

// Resource Group Name
func (r ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest) ResourceGroupName(resourceGroupName string) ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest {
	r.resourceGroupName = &resourceGroupName
	return r
}

// Resource Group Source
func (r ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest) ResourceGroupSource(resourceGroupSource string) ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest {
	r.resourceGroupSource = &resourceGroupSource
	return r
}

// VHUB name
func (r ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest) VhubName(vhubName string) ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest {
	r.vhubName = &vhubName
	return r
}

// VHUB source
func (r ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest) VhubSource(vhubSource string) ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest {
	r.vhubSource = &vhubSource
	return r
}

func (r ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetAzureNetworkVirtualAppliancesExecute(r)
}

/*
GetAzureNetworkVirtualAppliances Method for GetAzureNetworkVirtualAppliances

Discover Azure Virtual NVAs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest
*/
func (a *ConfigurationMultiCloudApiService) GetAzureNetworkVirtualAppliances(ctx context.Context) ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest {
	return ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationMultiCloudApiService) GetAzureNetworkVirtualAppliancesExecute(r ConfigurationMultiCloudApiGetAzureNetworkVirtualAppliancesRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationMultiCloudApiService.GetAzureNetworkVirtualAppliances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/multicloud/cloudgateway/nvas"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cloudType == nil {
		return localVarReturnValue, nil, reportError("cloudType is required and must be specified")
	}
	if r.accoundId == nil {
		return localVarReturnValue, nil, reportError("accoundId is required and must be specified")
	}
	if r.region == nil {
		return localVarReturnValue, nil, reportError("region is required and must be specified")
	}
	if r.resourceGroupName == nil {
		return localVarReturnValue, nil, reportError("resourceGroupName is required and must be specified")
	}
	if r.resourceGroupSource == nil {
		return localVarReturnValue, nil, reportError("resourceGroupSource is required and must be specified")
	}
	if r.vhubName == nil {
		return localVarReturnValue, nil, reportError("vhubName is required and must be specified")
	}
	if r.vhubSource == nil {
		return localVarReturnValue, nil, reportError("vhubSource is required and must be specified")
	}

[...]
