/*
Cisco SD-WAN vManage API

The vManage API exposes the functionality of operations maintaining devices and the overlay network

API version: 2.0.0
Contact: vmanage@cisco.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// ConfigurationPreUpgradeCheckStatusApiService ConfigurationPreUpgradeCheckStatusApi service
type ConfigurationPreUpgradeCheckStatusApiService service

type ConfigurationPreUpgradeCheckStatusApiUpdatePreUpgradeCheckStatusRequest struct {
	ctx context.Context
	ApiService *ConfigurationPreUpgradeCheckStatusApiService
	requestBody *map[string]GetO365PreferredPathFromVAnalyticsRequestValue
}

func (r ConfigurationPreUpgradeCheckStatusApiUpdatePreUpgradeCheckStatusRequest) RequestBody(requestBody map[string]GetO365PreferredPathFromVAnalyticsRequestValue) ConfigurationPreUpgradeCheckStatusApiUpdatePreUpgradeCheckStatusRequest {
	r.requestBody = &requestBody
	return r
}

func (r ConfigurationPreUpgradeCheckStatusApiUpdatePreUpgradeCheckStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdatePreUpgradeCheckStatusExecute(r)
}

/*
UpdatePreUpgradeCheckStatus Method for UpdatePreUpgradeCheckStatus

Update pre upgrade check status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ConfigurationPreUpgradeCheckStatusApiUpdatePreUpgradeCheckStatusRequest
*/
func (a *ConfigurationPreUpgradeCheckStatusApiService) UpdatePreUpgradeCheckStatus(ctx context.Context) ConfigurationPreUpgradeCheckStatusApiUpdatePreUpgradeCheckStatusRequest {
	return ConfigurationPreUpgradeCheckStatusApiUpdatePreUpgradeCheckStatusRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ConfigurationPreUpgradeCheckStatusApiService) UpdatePreUpgradeCheckStatusExecute(r ConfigurationPreUpgradeCheckStatusApiUpdatePreUpgradeCheckStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationPreUpgradeCheckStatusApiService.UpdatePreUpgradeCheckStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/device/action/status/preupgrade/check"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
