/*
Cisco SD-WAN vManage API

The vManage API exposes the functionality of operations maintaining devices and the overlay network

API version: 2.0.0
Contact: vmanage@cisco.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiService ConfigurationPolicySecureInternetGatewayDataCentersBuilderApi service
type ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiService service

type ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiGetSigDataCenterListRequest struct {
	ctx context.Context
	ApiService *ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiService
	type_ string
}

func (r ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiGetSigDataCenterListRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetSigDataCenterListExecute(r)
}

/*
GetSigDataCenterList Method for GetSigDataCenterList

Get list of data centers for zscaler or umbrella

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param type_ Provider type
 @return ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiGetSigDataCenterListRequest
*/
func (a *ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiService) GetSigDataCenterList(ctx context.Context, type_ string) ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiGetSigDataCenterListRequest {
	return ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiGetSigDataCenterListRequest{
		ApiService: a,
		ctx: ctx,
		type_: type_,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiService) GetSigDataCenterListExecute(r ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiGetSigDataCenterListRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConfigurationPolicySecureInternetGatewayDataCentersBuilderApiService.GetSigDataCenterList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sig/datacenters/{type}"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterToString(r.type_, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
