/*
Cisco SD-WAN vManage API

The vManage API exposes the functionality of operations maintaining devices and the overlay network

API version: 2.0.0
Contact: vmanage@cisco.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// TroubleshootingToolsDiagnosticsApiService TroubleshootingToolsDiagnosticsApi service
type TroubleshootingToolsDiagnosticsApiService service

type TroubleshootingToolsDiagnosticsApiClearSessionRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	sessionId string
}

func (r TroubleshootingToolsDiagnosticsApiClearSessionRequest) Execute() (*http.Response, error) {
	return r.ApiService.ClearSessionExecute(r)
}

/*
ClearSession Method for ClearSession

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionId Session Id
 @return TroubleshootingToolsDiagnosticsApiClearSessionRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) ClearSession(ctx context.Context, sessionId string) TroubleshootingToolsDiagnosticsApiClearSessionRequest {
	return TroubleshootingToolsDiagnosticsApiClearSessionRequest{
		ApiService: a,
		ctx: ctx,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) ClearSessionExecute(r TroubleshootingToolsDiagnosticsApiClearSessionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.ClearSession")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/log/sessions/clear/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiDisableDeviceLogRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	sessionId Uuid
}

func (r TroubleshootingToolsDiagnosticsApiDisableDeviceLogRequest) Execute() (*http.Response, error) {
	return r.ApiService.DisableDeviceLogExecute(r)
}

/*
DisableDeviceLog Method for DisableDeviceLog

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionId
 @return TroubleshootingToolsDiagnosticsApiDisableDeviceLogRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) DisableDeviceLog(ctx context.Context, sessionId Uuid) TroubleshootingToolsDiagnosticsApiDisableDeviceLogRequest {
	return TroubleshootingToolsDiagnosticsApiDisableDeviceLogRequest{
		ApiService: a,
		ctx: ctx,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) DisableDeviceLogExecute(r TroubleshootingToolsDiagnosticsApiDisableDeviceLogRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.DisableDeviceLog")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/log/disable/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiDisablePacketCaptureSessionRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	sessionId Uuid
}

func (r TroubleshootingToolsDiagnosticsApiDisablePacketCaptureSessionRequest) Execute() (*http.Response, error) {
	return r.ApiService.DisablePacketCaptureSessionExecute(r)
}

/*
DisablePacketCaptureSession Method for DisablePacketCaptureSession

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionId
 @return TroubleshootingToolsDiagnosticsApiDisablePacketCaptureSessionRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) DisablePacketCaptureSession(ctx context.Context, sessionId Uuid) TroubleshootingToolsDiagnosticsApiDisablePacketCaptureSessionRequest {
	return TroubleshootingToolsDiagnosticsApiDisablePacketCaptureSessionRequest{
		ApiService: a,
		ctx: ctx,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) DisablePacketCaptureSessionExecute(r TroubleshootingToolsDiagnosticsApiDisablePacketCaptureSessionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.DisablePacketCaptureSession")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/capture/disable/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiDisableSpeedTestSessionRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	sessionId Uuid
}

func (r TroubleshootingToolsDiagnosticsApiDisableSpeedTestSessionRequest) Execute() (*http.Response, error) {
	return r.ApiService.DisableSpeedTestSessionExecute(r)
}

/*
DisableSpeedTestSession Method for DisableSpeedTestSession

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionId
 @return TroubleshootingToolsDiagnosticsApiDisableSpeedTestSessionRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) DisableSpeedTestSession(ctx context.Context, sessionId Uuid) TroubleshootingToolsDiagnosticsApiDisableSpeedTestSessionRequest {
	return TroubleshootingToolsDiagnosticsApiDisableSpeedTestSessionRequest{
		ApiService: a,
		ctx: ctx,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) DisableSpeedTestSessionExecute(r TroubleshootingToolsDiagnosticsApiDisableSpeedTestSessionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.DisableSpeedTestSession")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/speed/disable/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiDownloadDebugLogRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	sessionId string
}

func (r TroubleshootingToolsDiagnosticsApiDownloadDebugLogRequest) Execute() (*http.Response, error) {
	return r.ApiService.DownloadDebugLogExecute(r)
}

/*
DownloadDebugLog Method for DownloadDebugLog

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionId Session Id
 @return TroubleshootingToolsDiagnosticsApiDownloadDebugLogRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) DownloadDebugLog(ctx context.Context, sessionId string) TroubleshootingToolsDiagnosticsApiDownloadDebugLogRequest {
	return TroubleshootingToolsDiagnosticsApiDownloadDebugLogRequest{
		ApiService: a,
		ctx: ctx,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) DownloadDebugLogExecute(r TroubleshootingToolsDiagnosticsApiDownloadDebugLogRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.DownloadDebugLog")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/log/download/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiDownloadFileRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	sessionId Uuid
}

func (r TroubleshootingToolsDiagnosticsApiDownloadFileRequest) Execute() (*http.Response, error) {
	return r.ApiService.DownloadFileExecute(r)
}

/*
DownloadFile Method for DownloadFile

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionId
 @return TroubleshootingToolsDiagnosticsApiDownloadFileRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) DownloadFile(ctx context.Context, sessionId Uuid) TroubleshootingToolsDiagnosticsApiDownloadFileRequest {
	return TroubleshootingToolsDiagnosticsApiDownloadFileRequest{
		ApiService: a,
		ctx: ctx,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) DownloadFileExecute(r TroubleshootingToolsDiagnosticsApiDownloadFileRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.DownloadFile")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/capture/download/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiForceStopPcapSessionRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	sessionId Uuid
}

func (r TroubleshootingToolsDiagnosticsApiForceStopPcapSessionRequest) Execute() (*http.Response, error) {
	return r.ApiService.ForceStopPcapSessionExecute(r)
}

/*
ForceStopPcapSession Method for ForceStopPcapSession

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionId
 @return TroubleshootingToolsDiagnosticsApiForceStopPcapSessionRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) ForceStopPcapSession(ctx context.Context, sessionId Uuid) TroubleshootingToolsDiagnosticsApiForceStopPcapSessionRequest {
	return TroubleshootingToolsDiagnosticsApiForceStopPcapSessionRequest{
		ApiService: a,
		ctx: ctx,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) ForceStopPcapSessionExecute(r TroubleshootingToolsDiagnosticsApiForceStopPcapSessionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.ForceStopPcapSession")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/capture/forcedisbale/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiFormPostPacketCaptureRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	deviceUUID string
	sessionId Uuid
}

func (r TroubleshootingToolsDiagnosticsApiFormPostPacketCaptureRequest) Execute() (*http.Response, error) {
	return r.ApiService.FormPostPacketCaptureExecute(r)
}

/*
FormPostPacketCapture Method for FormPostPacketCapture

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceUUID
 @param sessionId
 @return TroubleshootingToolsDiagnosticsApiFormPostPacketCaptureRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) FormPostPacketCapture(ctx context.Context, deviceUUID string, sessionId Uuid) TroubleshootingToolsDiagnosticsApiFormPostPacketCaptureRequest {
	return TroubleshootingToolsDiagnosticsApiFormPostPacketCaptureRequest{
		ApiService: a,
		ctx: ctx,
		deviceUUID: deviceUUID,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) FormPostPacketCaptureExecute(r TroubleshootingToolsDiagnosticsApiFormPostPacketCaptureRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.FormPostPacketCapture")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/capture/{deviceUUID}/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceUUID"+"}", url.PathEscape(parameterToString(r.deviceUUID, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery27Request struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	query *string
}

// Query filter
func (r TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery27Request) Query(query string) TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery27Request {
	r.query = &query
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery27Request) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetAggregationDataByQuery27Execute(r)
}

/*
GetAggregationDataByQuery27 Method for GetAggregationDataByQuery27

Get aggregated data based on input query and filters. The data can be filtered on time and other unique parameters based upon necessity and intended usage

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery27Request
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetAggregationDataByQuery27(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery27Request {
	return TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery27Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *TroubleshootingToolsDiagnosticsApiService) GetAggregationDataByQuery27Execute(r TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery27Request) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetAggregationDataByQuery27")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/aggregation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		localVarQueryParams.Add("query", parameterToString(*r.query, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery28Request struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	query *string
}

// Query filter
func (r TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery28Request) Query(query string) TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery28Request {
	r.query = &query
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery28Request) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetAggregationDataByQuery28Execute(r)
}

/*
GetAggregationDataByQuery28 Method for GetAggregationDataByQuery28

Get aggregated data based on input query and filters. The data can be filtered on time and other unique parameters based upon necessity and intended usage

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery28Request
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetAggregationDataByQuery28(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery28Request {
	return TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery28Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *TroubleshootingToolsDiagnosticsApiService) GetAggregationDataByQuery28Execute(r TroubleshootingToolsDiagnosticsApiGetAggregationDataByQuery28Request) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetAggregationDataByQuery28")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/statistics/speedtest/aggregation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		localVarQueryParams.Add("query", parameterToString(*r.query, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	traceId *int32
	timestamp *int64
}

// trace id
func (r TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest) TraceId(traceId int32) TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest {
	r.traceId = &traceId
	return r
}

// start time
func (r TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest) Timestamp(timestamp int64) TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest {
	r.timestamp = &timestamp
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetConcurrentDataExecute(r)
}

/*
GetConcurrentData Method for GetConcurrentData

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetConcurrentData(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest {
	return TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetConcurrentDataExecute(r TroubleshootingToolsDiagnosticsApiGetConcurrentDataRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetConcurrentData")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/concurrentData"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.traceId == nil {
		return nil, reportError("traceId is required and must be specified")
	}
	if r.timestamp == nil {
		return nil, reportError("timestamp is required and must be specified")
	}

	localVarQueryParams.Add("traceId", parameterToString(*r.traceId, ""))
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	traceId *int32
	timestamp *int64
}

// trace id
func (r TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest) TraceId(traceId int32) TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest {
	r.traceId = &traceId
	return r
}

// start time
func (r TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest) Timestamp(timestamp int64) TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest {
	r.timestamp = &timestamp
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetConcurrentDomainDataExecute(r)
}

/*
GetConcurrentDomainData Method for GetConcurrentDomainData

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetConcurrentDomainData(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest {
	return TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetConcurrentDomainDataExecute(r TroubleshootingToolsDiagnosticsApiGetConcurrentDomainDataRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetConcurrentDomainData")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/concurrentDomainData"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.traceId == nil {
		return nil, reportError("traceId is required and must be specified")
	}
	if r.timestamp == nil {
		return nil, reportError("timestamp is required and must be specified")
	}

	localVarQueryParams.Add("traceId", parameterToString(*r.traceId, ""))
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetCount29Request struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	query *string
}

// Query
func (r TroubleshootingToolsDiagnosticsApiGetCount29Request) Query(query string) TroubleshootingToolsDiagnosticsApiGetCount29Request {
	r.query = &query
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetCount29Request) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetCount29Execute(r)
}

/*
GetCount29 Method for GetCount29

Get response count of a query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetCount29Request
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetCount29(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetCount29Request {
	return TroubleshootingToolsDiagnosticsApiGetCount29Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *TroubleshootingToolsDiagnosticsApiService) GetCount29Execute(r TroubleshootingToolsDiagnosticsApiGetCount29Request) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetCount29")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/doccount"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	localVarQueryParams.Add("query", parameterToString(*r.query, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetCount30Request struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	query *string
}

// Query
func (r TroubleshootingToolsDiagnosticsApiGetCount30Request) Query(query string) TroubleshootingToolsDiagnosticsApiGetCount30Request {
	r.query = &query
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetCount30Request) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetCount30Execute(r)
}

/*
GetCount30 Method for GetCount30

Get response count of a query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetCount30Request
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetCount30(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetCount30Request {
	return TroubleshootingToolsDiagnosticsApiGetCount30Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *TroubleshootingToolsDiagnosticsApiService) GetCount30Execute(r TroubleshootingToolsDiagnosticsApiGetCount30Request) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetCount30")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/statistics/speedtest/doccount"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	localVarQueryParams.Add("query", parameterToString(*r.query, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetCountPost29Request struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	body *map[string]interface{}
}

// Query
func (r TroubleshootingToolsDiagnosticsApiGetCountPost29Request) Body(body map[string]interface{}) TroubleshootingToolsDiagnosticsApiGetCountPost29Request {
	r.body = &body
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetCountPost29Request) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetCountPost29Execute(r)
}

/*
GetCountPost29 Method for GetCountPost29

Get response count of a query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetCountPost29Request
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetCountPost29(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetCountPost29Request {
	return TroubleshootingToolsDiagnosticsApiGetCountPost29Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *TroubleshootingToolsDiagnosticsApiService) GetCountPost29Execute(r TroubleshootingToolsDiagnosticsApiGetCountPost29Request) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetCountPost29")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/doccount"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetCountPost30Request struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	body *map[string]interface{}
}

// Query
func (r TroubleshootingToolsDiagnosticsApiGetCountPost30Request) Body(body map[string]interface{}) TroubleshootingToolsDiagnosticsApiGetCountPost30Request {
	r.body = &body
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetCountPost30Request) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetCountPost30Execute(r)
}

/*
GetCountPost30 Method for GetCountPost30

Get response count of a query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetCountPost30Request
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetCountPost30(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetCountPost30Request {
	return TroubleshootingToolsDiagnosticsApiGetCountPost30Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *TroubleshootingToolsDiagnosticsApiService) GetCountPost30Execute(r TroubleshootingToolsDiagnosticsApiGetCountPost30Request) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetCountPost30")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/statistics/speedtest/doccount"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetDBSchemaRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
}

func (r TroubleshootingToolsDiagnosticsApiGetDBSchemaRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetDBSchemaExecute(r)
}

/*
GetDBSchema Method for GetDBSchema

Get the current database schema

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetDBSchemaRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetDBSchema(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetDBSchemaRequest {
	return TroubleshootingToolsDiagnosticsApiGetDBSchemaRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *TroubleshootingToolsDiagnosticsApiService) GetDBSchemaExecute(r TroubleshootingToolsDiagnosticsApiGetDBSchemaRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetDBSchema")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/diagnostics/dbschema"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetDeviceLogRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	sessionId Uuid
	logId *int64
}

func (r TroubleshootingToolsDiagnosticsApiGetDeviceLogRequest) LogId(logId int64) TroubleshootingToolsDiagnosticsApiGetDeviceLogRequest {
	r.logId = &logId
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetDeviceLogRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetDeviceLogExecute(r)
}

/*
GetDeviceLog Method for GetDeviceLog

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionId
 @return TroubleshootingToolsDiagnosticsApiGetDeviceLogRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetDeviceLog(ctx context.Context, sessionId Uuid) TroubleshootingToolsDiagnosticsApiGetDeviceLogRequest {
	return TroubleshootingToolsDiagnosticsApiGetDeviceLogRequest{
		ApiService: a,
		ctx: ctx,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetDeviceLogExecute(r TroubleshootingToolsDiagnosticsApiGetDeviceLogRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetDeviceLog")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/log/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.logId != nil {
		localVarQueryParams.Add("logId", parameterToString(*r.logId, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	traceId *int32
	timestamp *int64
	domain *string
	firstTimestamp *int64
	lastTimestamp *int64
}

// trace id
func (r TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest) TraceId(traceId int32) TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest {
	r.traceId = &traceId
	return r
}

// start time
func (r TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest) Timestamp(timestamp int64) TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest {
	r.timestamp = &timestamp
	return r
}

// domain name
func (r TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest) Domain(domain string) TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest {
	r.domain = &domain
	return r
}

// first timestamp of xAxis
func (r TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest) FirstTimestamp(firstTimestamp int64) TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest {
	r.firstTimestamp = &firstTimestamp
	return r
}

// last timestamp of xAxis
func (r TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest) LastTimestamp(lastTimestamp int64) TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest {
	r.lastTimestamp = &lastTimestamp
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetDomainMetricExecute(r)
}

/*
GetDomainMetric Method for GetDomainMetric

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetDomainMetric(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest {
	return TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetDomainMetricExecute(r TroubleshootingToolsDiagnosticsApiGetDomainMetricRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetDomainMetric")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/domainMetric"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.traceId == nil {
		return nil, reportError("traceId is required and must be specified")
	}
	if r.timestamp == nil {
		return nil, reportError("timestamp is required and must be specified")
	}
	if r.domain == nil {
		return nil, reportError("domain is required and must be specified")
	}
	if r.firstTimestamp == nil {
		return nil, reportError("firstTimestamp is required and must be specified")
	}
	if r.lastTimestamp == nil {
		return nil, reportError("lastTimestamp is required and must be specified")
	}

	localVarQueryParams.Add("traceId", parameterToString(*r.traceId, ""))
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("domain", parameterToString(*r.domain, ""))
	localVarQueryParams.Add("firstTimestamp", parameterToString(*r.firstTimestamp, ""))
	localVarQueryParams.Add("lastTimestamp", parameterToString(*r.lastTimestamp, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetFileDownloadStatusRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	sessionId Uuid
}

func (r TroubleshootingToolsDiagnosticsApiGetFileDownloadStatusRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetFileDownloadStatusExecute(r)
}

/*
GetFileDownloadStatus Method for GetFileDownloadStatus

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param sessionId
 @return TroubleshootingToolsDiagnosticsApiGetFileDownloadStatusRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetFileDownloadStatus(ctx context.Context, sessionId Uuid) TroubleshootingToolsDiagnosticsApiGetFileDownloadStatusRequest {
	return TroubleshootingToolsDiagnosticsApiGetFileDownloadStatusRequest{
		ApiService: a,
		ctx: ctx,
		sessionId: sessionId,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetFileDownloadStatusExecute(r TroubleshootingToolsDiagnosticsApiGetFileDownloadStatusRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetFileDownloadStatus")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/capture/status/{sessionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"sessionId"+"}", url.PathEscape(parameterToString(r.sessionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	traceId *int32
	timestamp *int64
}

// trace id
func (r TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest) TraceId(traceId int32) TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest {
	r.traceId = &traceId
	return r
}

// start time
func (r TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest) Timestamp(timestamp int64) TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest {
	r.timestamp = &timestamp
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetFinalizedDataExecute(r)
}

/*
GetFinalizedData Method for GetFinalizedData

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetFinalizedData(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest {
	return TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetFinalizedDataExecute(r TroubleshootingToolsDiagnosticsApiGetFinalizedDataRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetFinalizedData")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/finalizedData"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.traceId == nil {
		return nil, reportError("traceId is required and must be specified")
	}
	if r.timestamp == nil {
		return nil, reportError("timestamp is required and must be specified")
	}

	localVarQueryParams.Add("traceId", parameterToString(*r.traceId, ""))
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	traceId *int32
	timestamp *int64
}

// trace id
func (r TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest) TraceId(traceId int32) TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest {
	r.traceId = &traceId
	return r
}

// start time
func (r TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest) Timestamp(timestamp int64) TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest {
	r.timestamp = &timestamp
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetFinalizedDomainDataExecute(r)
}

/*
GetFinalizedDomainData Method for GetFinalizedDomainData

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetFinalizedDomainData(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest {
	return TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetFinalizedDomainDataExecute(r TroubleshootingToolsDiagnosticsApiGetFinalizedDomainDataRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetFinalizedDomainData")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/finalizedDomainData"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.traceId == nil {
		return nil, reportError("traceId is required and must be specified")
	}
	if r.timestamp == nil {
		return nil, reportError("timestamp is required and must be specified")
	}

	localVarQueryParams.Add("traceId", parameterToString(*r.traceId, ""))
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	traceId *int32
	timestamp *int64
	flowId *int32
}

// trace id
func (r TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest) TraceId(traceId int32) TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest {
	r.traceId = &traceId
	return r
}

// start time
func (r TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest) Timestamp(timestamp int64) TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest {
	r.timestamp = &timestamp
	return r
}

// flow id
func (r TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest) FlowId(flowId int32) TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest {
	r.flowId = &flowId
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetFlowDetailExecute(r)
}

/*
GetFlowDetail Method for GetFlowDetail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetFlowDetail(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest {
	return TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetFlowDetailExecute(r TroubleshootingToolsDiagnosticsApiGetFlowDetailRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetFlowDetail")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/flowDetail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.traceId == nil {
		return nil, reportError("traceId is required and must be specified")
	}
	if r.timestamp == nil {
		return nil, reportError("timestamp is required and must be specified")
	}
	if r.flowId == nil {
		return nil, reportError("flowId is required and must be specified")
	}

	localVarQueryParams.Add("traceId", parameterToString(*r.traceId, ""))
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("flowId", parameterToString(*r.flowId, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	traceId *int32
	timestamp *int64
	flowId *int32
	firstTimestamp *int64
	lastTimestamp *int64
}

// trace id
func (r TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest) TraceId(traceId int32) TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest {
	r.traceId = &traceId
	return r
}

// start time
func (r TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest) Timestamp(timestamp int64) TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest {
	r.timestamp = &timestamp
	return r
}

// flow id
func (r TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest) FlowId(flowId int32) TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest {
	r.flowId = &flowId
	return r
}

// first timestamp of xAxis
func (r TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest) FirstTimestamp(firstTimestamp int64) TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest {
	r.firstTimestamp = &firstTimestamp
	return r
}

// last timestamp of xAxis
func (r TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest) LastTimestamp(lastTimestamp int64) TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest {
	r.lastTimestamp = &lastTimestamp
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetFlowMetricExecute(r)
}

/*
GetFlowMetric Method for GetFlowMetric

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetFlowMetric(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest {
	return TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetFlowMetricExecute(r TroubleshootingToolsDiagnosticsApiGetFlowMetricRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetFlowMetric")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/flowMetric"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.traceId == nil {
		return nil, reportError("traceId is required and must be specified")
	}
	if r.timestamp == nil {
		return nil, reportError("timestamp is required and must be specified")
	}
	if r.flowId == nil {
		return nil, reportError("flowId is required and must be specified")
	}
	if r.firstTimestamp == nil {
		return nil, reportError("firstTimestamp is required and must be specified")
	}
	if r.lastTimestamp == nil {
		return nil, reportError("lastTimestamp is required and must be specified")
	}

	localVarQueryParams.Add("traceId", parameterToString(*r.traceId, ""))
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("flowId", parameterToString(*r.flowId, ""))
	localVarQueryParams.Add("firstTimestamp", parameterToString(*r.firstTimestamp, ""))
	localVarQueryParams.Add("lastTimestamp", parameterToString(*r.lastTimestamp, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	circuit *string
	deviceUUID *DeviceUuid
}

func (r TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest) Circuit(circuit string) TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest {
	r.circuit = &circuit
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest) DeviceUUID(deviceUUID DeviceUuid) TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest {
	r.deviceUUID = &deviceUUID
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetInterfaceBandwidthExecute(r)
}

/*
GetInterfaceBandwidth Method for GetInterfaceBandwidth

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetInterfaceBandwidth(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest {
	return TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetInterfaceBandwidthExecute(r TroubleshootingToolsDiagnosticsApiGetInterfaceBandwidthRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetInterfaceBandwidth")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/speed/interface/bandwidth"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.circuit == nil {
		return nil, reportError("circuit is required and must be specified")
	}
	if r.deviceUUID == nil {
		return nil, reportError("deviceUUID is required and must be specified")
	}

	localVarQueryParams.Add("circuit", parameterToString(*r.circuit, ""))
	localVarQueryParams.Add("deviceUUID", parameterToString(*r.deviceUUID, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetLogTypeRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	uuid *string
}

// Device uuid
func (r TroubleshootingToolsDiagnosticsApiGetLogTypeRequest) Uuid(uuid string) TroubleshootingToolsDiagnosticsApiGetLogTypeRequest {
	r.uuid = &uuid
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetLogTypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetLogTypeExecute(r)
}

/*
GetLogType Method for GetLogType

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetLogTypeRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetLogType(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetLogTypeRequest {
	return TroubleshootingToolsDiagnosticsApiGetLogTypeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetLogTypeExecute(r TroubleshootingToolsDiagnosticsApiGetLogTypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetLogType")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/log/type"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.uuid == nil {
		return nil, reportError("uuid is required and must be specified")
	}

	localVarQueryParams.Add("uuid", parameterToString(*r.uuid, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
	traceId *int32
	state *string
}

// trace id
func (r TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest) TraceId(traceId int32) TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest {
	r.traceId = &traceId
	return r
}

// trace state
func (r TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest) State(state string) TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest {
	r.state = &state
	return r
}

func (r TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetMonitorStateExecute(r)
}

/*
GetMonitorState Method for GetMonitorState

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetMonitorState(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest {
	return TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetMonitorStateExecute(r TroubleshootingToolsDiagnosticsApiGetMonitorStateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetMonitorState")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stream/device/nwpi/getMonitorState"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.traceId == nil {
		return nil, reportError("traceId is required and must be specified")
	}
	if r.state == nil {
		return nil, reportError("state is required and must be specified")
	}

	localVarQueryParams.Add("traceId", parameterToString(*r.traceId, ""))
	localVarQueryParams.Add("state", parameterToString(*r.state, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TroubleshootingToolsDiagnosticsApiGetNwpiDscpRequest struct {
	ctx context.Context
	ApiService *TroubleshootingToolsDiagnosticsApiService
}

func (r TroubleshootingToolsDiagnosticsApiGetNwpiDscpRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetNwpiDscpExecute(r)
}

/*
GetNwpiDscp Method for GetNwpiDscp

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TroubleshootingToolsDiagnosticsApiGetNwpiDscpRequest
*/
func (a *TroubleshootingToolsDiagnosticsApiService) GetNwpiDscp(ctx context.Context) TroubleshootingToolsDiagnosticsApiGetNwpiDscpRequest {
	return TroubleshootingToolsDiagnosticsApiGetNwpiDscpRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TroubleshootingToolsDiagnosticsApiService) GetNwpiDscpExecute(r TroubleshootingToolsDiagnosticsApiGetNwpiDscpRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TroubleshootingToolsDiagnosticsApiService.GetNwpiDscp")
	if err != nil {
[...]
